* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  @include responsive(1280px) {
    font-size: 55%;
  }
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  color: $gray-brand;
}
